<html>
  <head>
    <title>Request number: {{.RequestsCount}}</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>
      So far I handled {{ .RequestsCount }}{{if MoreThanOne .RequestsCount}}
      requests {{else}} request {{end}}🎉🥳🎊🎉
    </h1>
  </body>
</html>
